*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambay', sans-serif;
}
/*FORMULARIO*/
.fa-solid.fa-x{
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.formulario{
    position: fixed;
    left: -100%;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-form{
    display: flex;
    flex-direction: column;
    background-color: #23495c;
    max-width: 500px;
    min-width: 400px;
    border-radius: 10px;
    
    padding: 20px;
}
.contain-form h2{
    color: #fff;
    margin-bottom: 20px;
}
.contain-form input ,.contain-form button{
    border: 1px solid #a5c5cf;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #fff;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    display: none;
}
.contain-form input::placeholder{
    color: #a5c5cf;
}
.contain-form button{
    width: 50%;
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contain-form button:hover{
    background-color: rgba(255,255,255,.5);
}
/****************/
li{
    list-style: none;
}
.fa-whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 30%;
    color: #fff;
    cursor: pointer;
}
/*CABECERA*/
.portada-header{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: rgba(0, 0, 0, .7);
}
.back-image{
    background-image: url(../../src/images/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
}
.logo{
    width: 100px;
    height: 100%;
    display: flex;
}
.logo img{
    width: 100%;
    height: 100%;
}
.menu{
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li{
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}
ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}
ul li a:hover{
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
}
.contacto{
    width: 100px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.contacto .fa-solid,.contacto .fa-regular{
    cursor: pointer;
    font-size: 25px;
}
.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: calc(100% - 80px);
}
.portada h3{
    font-size: 25px;
}
.portada h1{
    font-size: 40px;
}
/*DESCRIPCION PROFESIONAL*/
.profesionales {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 20px 0;
    align-items: center;
}
.profesionales h1{
    font-size: 40px;
    display: flex;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
    border-right: #4b4e53 2px solid;
    padding: 0 20px;
    height: 100px;
    align-items: center;
    margin-bottom: 50px;
}
.prof {
    /*width: 1000px;*/
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 70px;
}

.imgProfile {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}
.imgProfile:hover img{
    transform: scale(1.1,1.1) rotateY(360deg);
    transition: .2s;
    /*transform: rotateY(360deg);*/
}
.imgProfile img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.6);
    border: 8px solid #fff;
}
.descProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 15px;
}
.descProfile .title .fa-solid{
    padding-right: 10px;
}
.descProfile li{
    font-size: 13px;
    line-height: 1.9;
    color: #808080;
    font-weight: 500;
}
/*PROYECTOS*/
.proyectos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    padding: 50px 0;
}
.proyectos .title-proyecto{
    border-left: #4b4e53 2px solid;
    border-right: #4b4e53 2px solid;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}
.proyectos h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b4e53;
}
.prod-proyectos{
    display: flex;
}
.proy-conten {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.separate{
    box-shadow: 0 0 7px 1px rgba(255,255,255,.5);
    border-radius: 50%;
    background-color: #e4e4e4;
    border: 6px solid #fff;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.separate h3{
    color: #fff;
}
.separate .back-img {
    background-image: url(https://terranova-peru.com/resource/images/primera_section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.35;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    border-radius: 50%;
    display: flex;
}
.proy-conten img{
    width: 200px;
    height: 100px;
    display: flex;
}
/*SERVICIOS*/
.servicios{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    box-shadow: inset 0 0px 6px -2px rgba(0,0,0,.2);
}
.conten-services{
    width: 1000px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.title-servicios{
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: center;
}
.title-servicios .text{
    border-left: #4b4e53 2px solid;
    border-right: #4b4e53 2px solid;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    
}
.text h5{
    font-size: 20px;
    color: #4b4e53;
}
.text h1{
    font-size: 40px;
    color: #4b4e53;
}
.lista-servicios {
    padding-left: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #808080;
    font-weight: 600;
}
.lista-servicios li{
    display: flex;
    align-items: center;
    line-height: 3.5;
}
.lista-servicios .fa-solid{
    font-size: 30px;
    padding-right: 20px;
}
/*PIE DE PAGINA*/
footer{
    background-image: url(https://nihm-group.com/wp-content/uploads/2021/07/bg-page.png);
    background-repeat: repeat;
    background-position: center;
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-foot{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1200px;
    width: 1200px;
}
.logo-tipo{
    display: flex;
    align-items: center;
}
.logo-tipo h1{
    font-family: 'Lobster', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
}
.contact-foot{
    display: flex;
    flex-direction: column;   
}
.contact-foot li{
    display: flex;
    align-items: center;
    line-height: 2.5;
    padding-left: 26%;
}
.contact-foot .fa-solid,.contact-foot .fa-brands{
    font-size: 25px;
    width: 50px;
}

/*----------------RESPONSIVE------------------*/
@media(min-width:768px) and (max-width:1025px){

}
@media(min-width:481px) and (max-width:767px){}
@media(max-width:480px){}